%li.span4
  .thumbnail
    %a.fancybox{ title: book.title, href: book.image_link(zoom: 3), rel: 'book_gallery', 'data-fancybox-type' => 'image' }
      %img{ src: book.image_link }
    .caption
      %dl.dl-horizontal.book-desc
        %dt Title:
        %dd= book.title
        %dt Author:
        %dd= book.authors
